@font-face {
    font-family: 'zabars';
    src: url('assets/fonts/zabars.ttf') format('truetype');
}

@font-face {
    font-family: 'markin';
    src: url('assets/fonts/markin-lt-regular.ttf') format('truetype');
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    background-image: url("img/desert_background.png");    
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

.dNone {
    display: none !important;
}

h1 {
    font-size: 72px;
    letter-spacing: 5px;
    color: rgb(100, 20, 5);
    text-shadow: 2px 2px 8px rgba(100, 20, 5, 0.5);
}

.gameScreen {
    width: 720px;
    height: 480px;
}

.gameScreen,
.startScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 0;
}

.startScreen {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("img/startscreen.png");
}

.btn,
.fullscreenBtn {
    position: absolute;
    font-size: 36px;
    color: rgb(100, 20, 5);
    border-radius: 10px;
    border: 2px solid #9A3A18;
    box-shadow: -4px 4px 0 #9A3A18;
    font-family: 'markin', Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #FFDF00, #FFA300);
    transition: 0.2s;
}

.btn {
    top: 20px;
    left: 20px;
    font-size: 36px;
}

.fullscreenBtn {
    top: 30px;
    left: 30px;
    font-size: 56px;
}

img.settings,
img.fullscreenSettings {
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

img.settings {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
}

img.fullscreenSettings {
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
}

.fullScreen {
    position: absolute;
    right: 15px;
    bottom: 10px;
    transition: 0.3s;
}

.inactive {
    width: 35px;
    height: 35px;
}

.active {
    width: 50px;
    height: 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.settingsMenu {
    width: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(100, 20, 5);
    border-radius: 15px;
    border: 3px solid #9A3A18;
    box-shadow: -5px 5px 0 #9A3A18;
    font-family: 'markin', Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #FFDF00, #FFA300);
    font-family: 'markin', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 38px;
}

p {
    margin: 8px;
    font-size: 24px;
}

.settingsLinks {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

a {
    font-size: 24px;
}

.activeGame {
    position: relative;
}

.soundBtn {
    margin: 15px;
    font-size: 24px;
    color: rgb(100, 20, 5);
    border-radius: 10px;
    border: none;
    font-family: 'markin', Arial, Helvetica, sans-serif;
    background: transparent;
    transition: 0.3s;
}

canvas {
    display: block;
    overflow: hidden;
    z-index: 0;
}

/*--- HOVER ---*/
img.settings:hover,
img.fullscreenSettings:hover {
    cursor: pointer;
    transform: rotate(90deg)
}

img.inactive:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

img.active:hover {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.btn:hover,
.fullscreenBtn:hover {
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: -2px 2px 0 #9A3A18;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.soundBtn:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(100, 20, 5);
}

/*--- SMARTPHONES ---*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .gameScreen,
    .startScreen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .gameScreen,
    .startScreen {
        height: 100vh;
    }
}