/*
 * Devices with max. width 520px.
 */
@media only screen and (max-width: 520px) {
    h2 {
        margin: 15px;
        font-size: 24px;
    }

    p {
        margin: 4px;
        font-size: 16px;
    }

    a {
        font-size: 18px;
    }

    .settingsMenu {
        width: 200px;
        height: 150px;
    }
    
    .settingsControls {
        width: 200px;
        height: 170px;
    }
    
    .settingsImprint {
        width: 280px;
        height: 210px;
    }

    .btn {
        font-size: 24px;
    }

    img.settings {
        width: 35px;
        height: 35px;
    }

    .inactive {
        width: 25px;
        height: 25px;
    }
}

/*
 * Devices with max. width 400px.
 */
@media only screen and (max-width: 400px) {
    .gameScreen {
        display: none;
    }

    .rotateDevice {
        display: flex;
        height: 400px;
    }

    h1 {
        font-size: 56px;
    }
}

/*
 * Touch devices with max. width 1000px.
 */
@media (pointer: coarse) and (max-width: 1000px) {
    .gameScreen {
        max-width: 100vw;
        max-height: 100vh;
    }
}

/*
 * Touch devices with landscape orientation.
 */
@media (pointer: coarse) and (orientation: landscape) {
    body {
        justify-content: center;
    }

    h1 {
        display: none;
    }

    .mobileControls {
        display: flex;
    }

    /*
     * Hover styles disabled
     */
     a:hover,
     img.settings:hover,
     img.fullscreenSettings:hover,
     img.inactive:hover,
     img.active:hover, 
     .btn:hover,
     .fullscreenBtn:hover,
     .soundBtn:hover,
     .musicBtn:hover,
     .settingsBtn:hover,
     .sounds:hover {
         cursor: inherit !important;
     }

    a:hover,
    .settingsBtn:hover {
        color: #9A3A18;
    }

    img.settings:hover,
    img.fullscreenSettings:hover {
        transform: none;
    }

    .btn:hover,
    .fullscreenBtn:hover {
        transform: none;
        box-shadow: -4px 4px 0 #9A3A18;
    }

    .soundBtn:hover,
    .musicBtn:hover {
        color: rgba(100, 20, 5);
        background-color: transparent;
    }
}

/*
 * Touch devices with portrait orientation.
 */
@media (pointer: coarse) and (orientation: portrait) {
    .gameScreen {
        display: none;
    }

    .rotateDevice {
        display: flex;
    }
}