/*
 * Devices with max. width 400px.
 */
@media only screen and (max-width: 400px) {
    .gameScreen {
        display: none;
    }

    .rotateDevice {
        display: flex;
        height: 400px;
    }

    h1 {
        font-size: 56px;
    }
}

/*
 * Touch devices with max. width 1000px.
 */
@media (pointer: coarse) and (max-width: 1000px) {
    .gameScreen {
        max-width: 100vw;
        max-height: 100vh;
    }
}

/*
 * Touch devices with landscape orientation.
 */
@media (pointer: coarse) and (orientation: landscape) {
    body {
        justify-content: center;
    }

    h1 {
        display: none;
    }

    .mobileControls {
        display: flex;
    }

    /*
     * Hover styles disabled
     */
     a:hover,
     img.settings:hover,
     img.fullscreenSettings:hover,
     img.inactive:hover,
     img.active:hover, 
     .btn:hover,
     .fullscreenBtn:hover,
     .soundBtn:hover,
     .musicBtn:hover,
     .settingsBtn:hover,
     .sounds:hover {
         cursor: inherit !important;
     }

    a:hover {
        text-decoration: none;
    }

    img.settings:hover,
    img.fullscreenSettings:hover {
        transform: none;
    }

    .btn:hover,
    .fullscreenBtn:hover {
        transform: none;
        box-shadow: -4px 4px 0 #9A3A18;
    }

    .soundBtn:hover,
    .musicBtn:hover {
        color: rgba(100, 20, 5);
        background-color: transparent;
    }

    .settingsBtn:hover {
        font-size: 20px;
    }
}

/*
 * Touch devices with portrait orientation.
 */
@media (pointer: coarse) and (orientation: portrait) {
    .gameScreen {
        display: none;
    }

    .rotateDevice {
        display: flex;
    }
}