/*
 * Devices with max. width 720px.
 */
@media only screen and (max-width: 400px) {
    .gameScreen {
        display: none;
    }

    .rotateDevice {
        display: flex;
    }
}

/*
 * Devices with max. height 420px.
 */
 @media only screen and (max-height: 300px) {
    h1 {
        font-size: 48px;
    }

    .rotateDevice {
        height: 400px;
    }
}

/*
 * Devices with max. height 480px.
 */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .gameScreen,
    .startScreen {
        height: 100vh;
    }

    .gameScreen {
        height: 100%;
        width: 100%;
    }

    .startScreen,
    .endScreen {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*
 * Touch devices with landscape orientation.
 */
@media (pointer: coarse) and (orientation: landscape) {
    body {
        justify-content: center;
    }

    h1 {
        display: none;
    }

    .mobileControls {
        display: flex;
    }

    /*
     * Hover styles disabled
     */
     a:hover,
     img.settings:hover,
     img.fullscreenSettings:hover,
     img.inactive:hover,
     img.active:hover, 
     .btn:hover,
     .fullscreenBtn:hover,
     .soundBtn:hover,
     .musicBtn:hover,
     .settingsBtn:hover,
     .sounds:hover {
         cursor: inherit !important;
     }

    a:hover {
        text-decoration: none;
    }

    img.settings:hover,
    img.fullscreenSettings:hover {
        transform: none;
    }

    img.inactive:hover {
        width: 35px;
        height: 35px;
    }

    img.active:hover {
        width: 50px;
        height: 50px;
    }

    .btn:hover,
    .fullscreenBtn:hover {
        transform: none;
        box-shadow: -4px 4px 0 #9A3A18;
    }

    .soundBtn:hover,
    .musicBtn:hover {
        color: rgba(100, 20, 5);
        background-color: transparent;
    }

    .settingsBtn:hover {
        font-size: 20px;
    }
}

/*
 * Touch devices with landscape orientation and max. width 720px.
 */
@media (pointer: coarse) and (orientation: landscape) and (max-width: 650px) {
    .fullScreen {
        display: none;
    }
}

/*
 * Touch devices with landscape orientation and max. height 480px.
 */
@media (pointer: coarse) and (orientation: landscape) and (max-height: 300px) {
    .fullScreen {
        display: none;
    }
}

/*
 * Touch devices with portrait orientation.
 */
@media (pointer: coarse) and (orientation: portrait) {
    .gameScreen {
        display: none;
    }

    .rotateDevice {
        display: flex;
    }
}