/*
 * Fonts
 */
@font-face {
    font-family: 'zabars';
    src: url('../assets/fonts/zabars.ttf') format('truetype');
}

@font-face {
    font-family: 'markin';
    src: url('../assets/fonts/markin-lt-regular.ttf') format('truetype');
}

/*
 * Main styles
 */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    background-image: url("../img/desert-background.png");    
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

.dNone {
    display: none !important;
}

h1 {
    font-size: 72px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #BA4A57, #641a33);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 38px;
}

p {
    margin: 8px;
    font-size: 24px;
}

a {
    font-size: 24px;
}

/*
 * Game container styles
 */
 canvas {
    display: block;
    overflow: hidden;
    z-index: 0;
}

.gameScreen {
    width: 720px;
    height: 480px;
}

.gameScreen,
.startScreen,
.endScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 0;
}

.startScreen,
.endScreen {
    width: 100%;
    height: 100%;
}

.startScreen {
    background-size: cover;
    background-position: center;
    background-image: url("../img/startscreen.png");
}

.endScreenWon {
    width: 100%;
    height: 100%;
}

.endScreenLost {
    width: 100%;
    height: 100%;
}

.btn,
.fullscreenBtn {
    position: absolute;
    transition: 0.2s;
    font-size: 30px;
    color: #9A3A18;
    border-radius: 10px;
    border: 2px solid #9A3A18;
    box-shadow: -4px 4px 0 #9A3A18;
    font-family: 'markin', Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #FFDF00, #FFA300);
}

.play {
    top: 20px;
    left: 20px;
}

.playAgain {
    bottom: 17px;
    left: 200px;
}

.back {
    bottom: 17px;
    right: 200px;
}

.fullscreenBtn {
    top: 30px;
    left: 30px;
    font-size: 56px;
}

img.settings,
img.fullscreenSettings {
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

img.settings {
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
}

img.fullscreenSettings {
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
}

.fullScreen {
    position: absolute;
    right: 15px;
    bottom: 18px;
    transition: 0.3s;
}

.inactive {
    width: 35px;
    height: 35px;
}

.active {
    width: 50px;
    height: 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.settingsMenu {
    width: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9A3A18;
    border-radius: 15px;
    border: 3px solid #9A3A18;
    box-shadow: -5px 5px 0 #9A3A18;
    font-family: 'markin', Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #FFDF00, #FFA300);
    font-family: 'markin', Arial, Helvetica, sans-serif;
}

.settingsLinks {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.settingsBtn {
    color: #9A3A18;
    font-size: 20px;
    background: transparent;
    border: none;
    transition: 0.3s;
}

.activeGame {
    position: relative;
}

.soundBtn,
.musicBtn {
    margin: 15px;
    font-size: 24px;
    color: #9A3A18;
    border-radius: 10px;
    border: none;
    font-family: 'markin', Arial, Helvetica, sans-serif;
    background: transparent;
    transition: 0.3s;
}

.rotateDevice {
    display: none;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    background-image: url('../img/rotate-device.png');
}

/*
 * Mobile controls styles
 */
.mobileControls {
    position: relative;
    display: none;
}

.panelWrapper1,
.panelWrapper2 {
    position: absolute;
    bottom: 15px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.panelWrapper1 {
    left: 60px;
}

.panelWrapper2 {
    right: 60px;
}

.mobileBtn {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid black;
    background: linear-gradient(to bottom, #FFDF00, #FFA300);
}

/*
 * Hover styles
 */
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

img.settings:hover,
img.fullscreenSettings:hover {
    cursor: pointer;
    transform: rotate(90deg)
}

img.inactive:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

img.active:hover {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.btn:hover,
.fullscreenBtn:hover {
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: -2px 2px 0 #9A3A18;
}

.soundBtn:hover,
.musicBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #9A3A18;
}

.settingsBtn:hover {
    cursor: pointer;
    font-size: 25px;
}